/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'app/bootstrap/styles.css';

.dados
    padding-top: 3em;

input
    font-size: 18px !important

.valor-real
    display: flex

    label
        top: 0
        padding-top: 6.3px
        padding-right: 5px
        font-size: 18px
        color: #495057
        opacity: 1
