#veiculoForm
    padding-top: 1em

.parcelas
    padding-top: 1em

button
    margin-left: 1em

input[type="text"]:disabled
    background: none

.span-valor-veiculo
        display: flex
        padding-bottom: 0.5rem
        font-family: Arial